.systems-table {
    padding-left: 0px !important;
}

.resolutions-review-table-rows {
    border-top: var(--pf-c-table--border-width--base) solid var(--pf-c-table--BorderColor);
    border-bottom: 0 !important;
}
